.navBar{
    z-index: 5;
    position: fixed;
    bottom: 30px;
    display: flex;
    width: 320px;
    left: calc(45vw - 150px);
    justify-content: space-between;
    box-sizing: border-box;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    background-color: #444;
}

.btn, a{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
    padding: 20px 5px;
    color: deepskyblue;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover, a:hover{
    background-color: #666;
    color: skyblue;
}

.aboutSection{
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: -120vw;
    top: 0;
    background-color: white;
    box-sizing: border-box;
    padding: 30px;
}


.right {
    animation-name: rightMove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes rightMove{
    0% {left: 0vw}
    100% {left: 120vw};
}

.rightBack{
    animation-name: rightBack;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes rightBack{
    0% {left: 120vw}
    100% {left: 0vw};
}

.left{
    animation-name: leftMove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.leftBack{
    animation-name: leftBack;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes leftMove{
    0% {left: -120vw}
    100% {left: 0vw};
}

@keyframes leftBack{
    0% {left: 0vw}
    100% {left: -120vw};
}