*{
    box-sizing: border-box;
}

p{
    margin:0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: #eee;
    overflow: hidden;
    height: 100vh;
}

.navBar{
    z-index: 5;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    box-sizing: border-box;
    border-bottom: 3px deepskyblue solid;
    background-color: rgb(00,00,48);

}

.btn, .navBar a{
    font-size: 20px;
    font-family: 'PT Serif', serif;
    padding: 20px 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.navBar a{
    height: 100%;
    width: 100%;
    /* background-color: #333; */
}

.btn:hover, a:hover{
    background-color: #666;
    color: skyblue;
}



.aboutContent{
    position: absolute;
    bottom: 10vh;
    width: 80%;
    left: calc(50vw - 40%);
    font-size: 2vw;
    line-height: 1.5;
    text-indent: 20px;
    font-family: 'PT Serif', serif;
}

.container{
    width: 90%;
    margin: auto;
}

section{
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    position: relative;
    border-top: 5px rgb(00,00,48) solid;
    border-bottom: 5px rgb(00,00,48) solid;
}

.hidden{
    opacity: 0;

}

.fadeIn{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    0% {opacity: 0}
    100% {opacity: 100}
}

/* --------------Projects Page------------------------ */

.projectBox img{
    width: 200px;
    height: auto;
    box-sizing: border-box;
    border: 3px black solid;
    cursor: pointer;
}

.projectTitle{
    font-family: 'PT Serif', serif;
    text-decoration: underline;
}

.mainProjects{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    text-align: center;
}

.projectDisplay{
    display: flex;
    padding: 80px 0 40px 0;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 5px rgb(00,00,48) solid;
}

.projectDisplay img{
    width: 400px;
    height: auto;
    box-sizing: border-box;
    border: 3px black solid;
}

.information{
    text-align: center;
    width: 50%;
    font-family:'PT Serif', serif;
    font-size: 1.5vw;
}

.buttonAreaProject{
    margin-top: 30px;
}

/* ----------- Contact Page ----------------- */

.wrapper{
    padding-top: 80px;
}

.flex{
    display: flex;
}

.formArea{
    width: 60%;
}

input[type=text] {
    width: 90%;
    padding: 10px 5px;
    outline: none;

}

#message {
    width: 90%;
    min-height: 300px;
}

.labelContact {
    font-family:'PT Serif', serif;
    font-size: 22px;
    padding-bottom: 10px;
}


@media (max-width: 600px) {
    .aboutContent{
        font-size: 5vw;
    }

    #portfolio{
        visibility: hidden;
    }

    #contact {
        visibility: hidden;
    }
}