
:root{
    --letter-size: 6vw;
}


.m{
    -webkit-clip-path: polygon(0% 100%, 0% 0%, 23% 0%, 47% 37%, 76% 0, 94% 0, 100% 100%, 75% 100%, 71% 50%, 47% 78%, 23% 51%, 24% 99%);
    clip-path: polygon(0% 100%, 0% 0%, 23% 0%, 47% 37%, 76% 0, 94% 0, 100% 100%, 75% 100%, 71% 50%, 47% 78%, 23% 51%, 24% 99%);
}

.lastC{
    -webkit-clip-path: polygon(3% 96%, 3% 61%, 2% 21%, 4% 3%, 86% 2%, 90% 19%, 27% 21%, 20% 81%, 52% 73%, 86% 68%, 98% 93%, 45% 97%);
    clip-path: polygon(3% 96%, 3% 61%, 2% 21%, 4% 3%, 86% 2%, 90% 19%, 27% 21%, 20% 81%, 52% 73%, 86% 68%, 98% 93%, 45% 97%);
}

.i{
    -webkit-clip-path: polygon(26% 100%, 27% 73%, 28% 47%, 61% 28%, 48% 14%, 34% 28%, 65% 47%, 70% 100%);
    clip-path: polygon(26% 100%, 27% 73%, 28% 47%, 61% 28%, 48% 14%, 34% 28%, 65% 47%, 70% 100%);
}

.lastA{
    -webkit-clip-path: polygon(33% 81%, 63% 81%, 49% 48%, 50% 15%, 100% 100%, 0 100%, 50% 16%, 51% 48%);
    clip-path: polygon(33% 81%, 63% 81%, 49% 48%, 50% 15%, 100% 100%, 0 100%, 50% 16%, 51% 48%);
}

.c{
    -webkit-clip-path: polygon(81% 100%, 25% 100%, 12% 70%, 18% 39%, 86% 29%, 76% 43%, 61% 48%, 39% 47%, 28% 67%, 33% 81%, 68% 85%, 78% 78%);
    clip-path: polygon(81% 100%, 25% 100%, 12% 70%, 18% 39%, 86% 29%, 76% 43%, 61% 48%, 39% 47%, 28% 67%, 33% 81%, 68% 85%, 78% 78%);
}

.lastM{
    -webkit-clip-path: polygon(0% 100%, 0% 0%, 23% 0%, 47% 37%, 76% 0, 94% 0, 100% 100%, 75% 100%, 71% 50%, 47% 78%, 23% 51%, 24% 99%);
    clip-path: polygon(0% 100%, 0% 0%, 23% 0%, 47% 37%, 76% 0, 94% 0, 100% 100%, 75% 100%, 71% 50%, 47% 78%, 23% 51%, 24% 99%);
}


.h{
    -webkit-clip-path: polygon(3% 97%, 1% 3%, 20% 2%, 22% 62%, 72% 59%, 98% 99%, 73% 98%, 60% 77%, 25% 76%, 25% 96%, 13% 96%);
    clip-path: polygon(3% 97%, 1% 3%, 20% 2%, 22% 62%, 72% 59%, 98% 99%, 73% 98%, 60% 77%, 25% 76%, 25% 96%, 13% 96%);
}

.lastP{
    -webkit-clip-path: polygon(19% 100%, 12% 0, 88% 1%, 86% 14%, 24% 11%, 50% 35%, 87% 8%, 83% 38%, 29% 50%, 39% 79%, 54% 100%);
    clip-path: polygon(19% 100%, 12% 0, 88% 1%, 86% 14%, 24% 11%, 50% 35%, 87% 8%, 83% 38%, 29% 50%, 39% 79%, 54% 100%);
}

.a{
    -webkit-clip-path: polygon(6% 31%, 24% 4%, 72% 7%, 67% 28%, 40% 15%, 19% 33%, 58% 38%, 72% 7%, 81% 36%, 89% 91%, 72% 94%, 62% 57%, 26% 55%, 28% 94%, 11% 93%);
    clip-path: polygon(6% 31%, 24% 4%, 72% 7%, 67% 28%, 40% 15%, 19% 33%, 58% 38%, 72% 7%, 81% 36%, 89% 91%, 72% 94%, 62% 57%, 26% 55%, 28% 94%, 11% 93%);
}

.lastB{
    -webkit-clip-path: polygon(12% 59%, 10% 5%, 66% 10%, 54% 28%, 18% 15%, 26% 45%, 60% 19%, 42% 47%, 68% 54%, 80% 89%, 15% 94%, 61% 74%, 31% 59%, 33% 87%, 15% 94%);
    clip-path: polygon(12% 59%, 10% 5%, 66% 10%, 54% 28%, 18% 15%, 26% 45%, 60% 19%, 42% 47%, 68% 54%, 80% 89%, 15% 94%, 61% 74%, 31% 59%, 33% 87%, 15% 94%);
}

.e{
    -webkit-clip-path: polygon(21% 49%, 44% 70%, 17% 81%, 83% 100%, 0 100%, 0 21%, 69% 48%);
    clip-path: polygon(21% 49%, 44% 70%, 17% 81%, 83% 100%, 0 100%, 0 21%, 69% 48%);
}

.l{
    -webkit-clip-path: polygon(0 100%, 0 0, 32% 0, 34% 100%, 0 76%, 0 0, 32% 0, 33% 100%);
    clip-path: polygon(0 100%, 0 0, 32% 0, 34% 100%, 0 76%, 0 0, 32% 0, 33% 100%);
}

.lastL{
    -webkit-clip-path: polygon(0 100%, 0 0, 32% 0, 34% 100%, 68% 100%, 69% 0%, 100% 0, 100% 100%);
    clip-path: polygon(0 100%, 0 0, 32% 0, 34% 100%, 68% 100%, 69% 0%, 100% 0, 100% 100%);
}

body{
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    
}

.bg{
    -webkit-clip-path: polygon(100% 0, 74% 100%, 30% 50%, 35% 100%, 66% 50%, 0 100%, 19% 0);
    clip-path: polygon(100% 0, 74% 100%, 30% 50%, 35% 100%, 66% 50%, 0 100%, 19% 0);
    height:100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    background-color: #444;
    position: relative;
}

.area{
    position: relative;
    width: fit-content;
    top: 100px;
    left: 26.5vw;
}

.letter{
    height: var(--letter-size);
    width: var(--letter-size);
    background-color: deepskyblue;
}

.letterBox{
    position: absolute;
    display: flex;
}

.backBox{
    top: 6px;
    left: 6px;
}

.transition-1{
    transition: all, 1.2s;
    transition-timing-function: ease-in;
}

.back{
    background-color: #222;
    position: relative;
    z-index: 3;
}

.front{
    position: relative;
    z-index: 4;
}

.fall{
    animation-name: fallOff;
    animation-duration: 1.650s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}



@keyframes fallOff{
    0% {top: 0; left:0}
    60%{top: calc(4vw - 6x); left: 0px}
    100% {top: calc(var(--letter-size) + 6px); left: -2vw};
}


