#homePage{
  display: none;
  position: relative;
  z-index: 15;
}

#portfolioPage{
  display: none;
  position: relative;
  z-index: 15;
}

#contactPage{
  /* display: none; */
  position: relative;
  z-index: 15;
}